# Build files
out/
cache/

# Dependencies
lib/

# Broadcast logs (Foundry scripts output)
broadcast/

# Environment variables
.env

# Editor / OS junk
.DS_Store
.idea/
.vscode/

# Logs & temporary
*.log
