# Build files
out/
cache/

# Dependencies
lib/

# Broadcast logs (Foundry scripts output)
broadcast/

# Environment variables
.env

# Editor / OS junk
.DS_Store
.idea/
.vscode/

# Logs & temporary
*.log

# Scripts
script/DeployBase.s.sol
script/RenounceOwnership.s.sol
script/DeployBaseSepolia.s.sol